.card {
  margin-left: 8px;
  margin-right: 8px;
}

.team-image {
  height: 70%;
  width: 70%;
}

.image-container {
  display: flex;
}

.team-member-container {
  margin-left: 8px;
  padding: 8px;
}

.team-members {
  display: flex;
  flex-direction: column;
}

.team-member {
  padding: 8px 0;
}
