<h1>Werde ein Falkenheimer!</h1>

<div class="card">
  <h2>Was du wissen musst</h2>
  <div class="card-information time">
    Wann trainieren wir:
    <span>Jeden Montag um 20Uhr (außer in den Schulferien, weil Halle geschlossen)
    </span>
  </div>
  <div class="card-information location">
    Wo trainieren wir:
    <span>Geschwister-Schöll Realschule Nürnberg</span>
  </div>
  <div class="card-information more-information">
    Weitere Informationen:
    <span>Du hast Bock auf coole Leute und einen super Sport? Dann melde dich doch
      gleich bei uns an!</span>
  </div>
</div>

<div class="card">
  <h2>Deine Kontaktdaten</h2>
  <form action="submit">
    <div class="card-information name">
      <label for="name">Dein Name?</label>
      <input class="custom-input" type="text" id="name">
    </div>
    <div class="card-information mail">
      <label for="mail">Wie können wir dich schriftlich erreichen?</label>
      <input class="custom-input" type="email" id="mail">
    </div>
    <div class="card-information  experience">
      <label for="experience">Hast du bereits Erfahrung?</label>
      <input type="checkbox" id="experience">
    </div>
  </form>
</div>
