<div class="header">
  <div class="header-container">
    <div class="header-image__container">
      <a [routerLink]="''">
        <img class="custom-logo" src="../../assets/img/logo_tsv_falkenheim.png" alt="Falkenheim Logo">
      </a>
    </div>
    <div class="header-link__container">
      <a [routerLink]="'/home'" class="header-item header-item--link" [routerLinkActive]="['active']">Home</a>
      <a [routerLink]="'/team'" class="header-item header-item--link" [routerLinkActive]="['active']">Team</a>
      <a [routerLink]="'/season'" class="header-item header-item--link" [routerLinkActive]="['active']">Saison</a>
      <a [routerLink]="'/history'" class="header-item header-item--link" [routerLinkActive]="['active']">Historie</a>

    </div>
    <div class="header-handball__container">
      <img src="../../assets/img/handball.png" alt="Handball Logo stilisiert">
      <!--Icon made by Freepik from www.flaticon.com-->
    </div>
  </div>
</div>
