.header {
  background: black;
  width: 100%;
  z-index: 100;
}

.header-container {
  display: grid;
  grid-template-areas: 'icon links placeholder';
  height: 100%;
}

.header-image__container {
  grid-area: icon;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-handball__container {
  grid-area: placeholder;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  align-items: center;
  color: #ffffff;
}

.header-link__container {
  font-size: 24px;
  grid-area: links;
  padding-right: 190px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-item {
  color: white;
  transition: all 350ms ease-in-out;
}

.header-item--link:hover {
  color: #ff0012;
}

.custom-logo {
  height: 110px;
  top: 0;
  left: 0;
  margin: 1rem;
  position: absolute;
}

.active {
  color: #ff0012;
}

/*.link-container:hover > div .link-container:hover a {
  color: #ff0012;
  border-color: #ff0012;
  cursor: pointer;
}*/

.link-container {
  cursor: pointer;
  margin: 16px 8px;
}

.dropdown {
  border: #ffffff solid 3px;
  height: 12px;
  width: 12px;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  transform: rotateZ(135deg) translateY(-4px) translateX(5px);
  display: inline;
  transition: all 350ms ease-in-out;
}
.dropdown--open {
  transform: rotateX(170deg) rotateZ(135deg) translateY(10px) translateX(-9px);
}

.dropdown-content {
  background: black;
  color: white;
  list-style: none;
  padding: 0 8px;
  position: absolute;
}

li {
  margin: 8px 0;
  transition: all 350ms ease-in-out;
}

li:hover {
  color: #ff0012;
}

.display-none {
  display: none;
}

.dropdown-container {
  cursor: pointer;
}

.dropdown-container:hover > a {
  color: #ff0012;
}

.dropdown-container:hover div {
  border-color: #ff0012;
}
