.footer {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-areas: 'icon links placeholder';
  height: 100%;
}

.footer-main-club__container {
  grid-area: icon;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-handball__container {
  grid-area: placeholder;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-link__container {
  grid-area: links;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  color: white;
  transition: all 350ms ease-in-out;
}

.footer-item--link {
  cursor: pointer;
}

.footer-item--link:hover {
  color: #ff0012;
}

.custom-logo {
  height: 40%;
  width: 40%;
}

.external-link-image {
  width: 24px;
  height: 24px;
  margin: 16px;
}

.invert-colors {
  filter: invert(1);
}
