<div class="footer">
  <div class="footer-container">
    <div class="footer-main-club__container">
      <a class="footer-item footer-item--link" href="http://www.tsv-falkenheim.info/">
        Hauptverein
      </a>
    </div>
    <div class="footer-link__container">
      <i class="fa fa-facebook-official" style="font-size:48px;color:#3b579d"></i>
    </div>
    <div class="footer-handball__container">
      <a class="footer-item footer-item--link" [routerLink]="'/impressum'">
        Impressum
      </a>
    </div>
  </div>
</div>
