@media only screen and (max-width: 979px) {
  .footer {
    position: inherit;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-handball__container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 980px) {
  .footer {
    position: fixed;
    bottom: 0;
  }

  .footer-container {
    flex-direction: row;
  }

  .footer-handball__container {
    flex-direction: row;
  }
}

.footer {
  background: black;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-main-club__container {
  grid-area: icon;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-handball__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-link__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  color: white;
  transition: all 350ms ease-in-out;
}

.footer-item--link {
  cursor: pointer;
  margin: 8px;
}

.footer-item--link:hover {
  color: #ff0012;
}

.custom-logo {
  height: 40%;
  width: 40%;
}

.external-link-image {
  width: 24px;
  height: 24px;
  margin: 16px;
}

.invert-colors {
  filter: invert(1);
}
