.image-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-card__content {
  display: flex;
  flex-direction: column;
}

.player-image {
  height: 30%;
  width: 30%;
}

.special-card-team {
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-members-position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.edit {
  cursor: pointer;
}

@media only screen and (max-width: 979px) {
  .image-card {
    flex-direction: column;
  }

  .player-image {
    height: 100%;
    width: 100%;
  }
}
