/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.card {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 2px 2px 10px 0 gray;
  margin-bottom: 32px;
  position: relative;
}

.card-information {
  margin: 16px 0;
  display: flex;
}

h1 {
  margin-bottom: 32px;
}

.btn-falkenheim {
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-family: 'Varela Round', sans-serif;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  margin: 8px 0;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out, border 250ms ease-in-out;
}

.btn-falkenheim:focus {
  outline: none;
}

.btn-falkenheim:hover {
  background-color: #ff0012;
  color: #ffffff;
  border: 1px solid #ff0012;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Varela Round', sans-serif;
}

.custom-input:focus {
  outline: none;
}

.text-input--label {
  user-select: none;
}

@media only screen and (min-width: 980px) {
  label {
    width: 300px;
  }
  .custom-input {
    width: 300px;
  }

  .card-team-member {
    width: 48%;
    margin: 8px;
  }

  .checkmark {
    top: 0;
    right: -25px;
  }

  .checkmark__container {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 979px) {
  .card-information {
    flex-direction: column;
    margin: 8px 0;
  }
  .checkmark {
    bottom: -25px;
    left: 0;
  }

  .checkmark__container {
    margin-bottom: 24px;
  }

  form {
    min-width: 75%;
  }
}

.checkmark__container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 200ms ease-in-out;
}

.checkmark__container input:checked ~ .checkmark {
  background-color: #ff0012;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkmark__container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark__container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translateX(-1px);
}

/* Customize the label (the container) */
.radio-button--container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.radio-button--container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  transition: background-color 200ms ease-in-out;
}

.radio-button--container input:checked ~ .radio-button {
  background-color: #ff0012;
}

.radio-button:after {
  content: '';
  position: absolute;
  display: none;
}

.radio-button--container input:checked ~ .radio-button:after {
  display: block;
}

.radio-button--container .radio-button:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  background: transparent;
  border-color: #000000;
  color: black;
  cursor: not-allowed;
}

.card-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-add {
  margin-bottom: 24px;
}
